html {
  font-family: 'Montserrat', sans-serif;
}

ul, 
ol {
  margin-bottom: 20px;
  color: #222222;
}

table {
  margin-bottom: 20px;
}

td {
  border: 1px solid #222222;
}

ul li, 
ol li {
  margin-bottom: 10px;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: #222222;
}

a:hover {
  text-decoration: underline;
  color: #2fa721;
}

.gohome,
.link-list {
  color: #2fa721;
}

input {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #2fa721;
}