html, body {
    margin: 0;
    padding: 0;
}

#card {
    display: flex;
    flex-wrap: wrap;
}

.article-content {
    flex-grow: 1;
    width: 30%;
}

.article-content img {
    width: 100%;
    border-radius: 3px;
}